@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Insertar Pista</h1>

<form method="POST">
    <label>Nombre pista:</label>
    <input type="text" name="nombrepista" class="form-control"/>
    <label>Precio hora:</label>
    <input type="number" name="preciohora" class="form-control"/>
    <label>Techada:</label>
    <select name="estechada" class="form-control">
        <option value="true">SI</option>
        <option value="false">NO</option>
    </select>
    <label>Seleccione centro activo</label>
    <select name="idcentro" class="form-control">
        @foreach(Centro centro in ViewData["CENTROS"] as List<Centro>)
            {
                <option value="@centro.IdCentro">@centro.Nombre</option>
            }
     </select>
     <button class="btn btn-warning">Insertar pista</button>
</form>